{
    "jsc": {
        "loose": true,
        "target": "es2015",
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": false,
            "dynamicImport": false
        },
        "transform": {
            "react": {
                "pragma": "h",
                "pragmaFrag": "Fragment",
                "throwIfNamespace": true,
                "development": false,
                "useBuiltins": false
            },
            "optimizer": {
                "globals": {
                    "vars": {
                        "__DEBUG__": "true"
                    }
                }
            }
        }
    }
}